*{
	margin:0 auto;
}
a{
	text-decoration:none;
	color:black;
}

/* 中等屏幕 桌面显示器 */
@media (min-width: 1200px){
	html,body{
		width:100%;
		min-width: 1200px;
		/*height:1080px;*/
		/*border:3px solid red;*/
	}
	body{
		background: url(../images/pc_img/bg.png) no-repeat;
		background-size:100% 100%;
	}
	.head{
		width:1100px;
		height:65px;
		margin:30px auto;
		/*border:1px solid red;*/
		position: relative;
	}
	.head>div{
		position: absolute;
	}
	.head_img{
		width:221px;
		height:65px;
		background: url(../images/pc_img/logo.png) no-repeat;
		left:0;
		top:0;
	}
	.head_r{
		width:137px;
		height:36px;
		border-radius:18px;
		background:#ccd0ff;
		top:14px;
	}
	.head_r a{
		display: inline-block;
		width:100%;
		height:100%;
		text-align: center;
		line-height:36px;
		color:#333333;
	}
	.head_collect{
		right:157px;
	}
	.head_chat{
		right:0px;
	}
	/*body*/
	.body{
		width:1000px;
		/*height:960px;*/
		/*border:1px solid cyan;*/
		margin:0 auto;
		background: white;

	}
	.body_head{
		width:192px;
		height:24px;
		margin:20px auto;
		text-align: center;
		font-size: 24px;
		color:#333333;
	}
	.body_head2{
		width:462px;
		height:15px;
		text-align: center;
		line-height: 15px;
		font-size: 14px;
		color:#666;
	}
	.body_lineTest{
		/*width:620px;*/
		width:800px;
		height:560px;
		/*border:1px solid purple;*/
		margin:0 auto;
	}
	.test{
		width:660px;
		/*width:590px;*/
		height:40px;
		margin:15px auto;
	}
	.test>div{
		/*display: inline-block;*/
		float:left;
		line-height: 40px
	}
	.test_pc{
		width:45px;
		height:100%;
		font-size: 18px;
		/*border:1px solid red;*/
		text-align: center;
	}
	.test_left{
		width:95px;
		height:100%;
		font-size: 18px;
		color:#333;
		margin-right:40px;
		/*line-height: 100%;*/
	}
	.test_middle{
		width:290px;
		height:40px;
		border:1px solid #dddddd;
		border-radius:1px;
		margin-right:20px;
	}
	.test_middle>div{
		width:12px;
		height:12px;
		/*display: inline-block;*/
		float:left;
		/*background: orange;*/
		background: url(../images/gray.png) no-repeat;
		border-radius:50%;
		margin:15px 13px;
	}
	.test_ping{
		width:70px;
		height:40px;
		/*color:#ccc;*/
		color:black;
		/*border:1px solid cyan;*/
		float: left;
	}
	.test_right{
		width:90px;
		height:100%;
		font-size: 18px;
		border-radius:3px;
		background: url(../images/pc_img/button.png) no-repeat;
		text-align: center;
		color:#fff;
		cursor: pointer;
	}

	.add_tishi{
		text-align: center;
		color: red;
		font-size: 20px;
	}
	.reTest{
		width: 180px;
		height:40px;
		border-radius: 20px;
		margin:20px auto;
		background: url(../images/pc_img/retest.png) no-repeat;
		font-size: 18px;
		text-align: center;
		line-height: 40px;
		color:#fff;
		cursor: pointer;
	}
	.body_scan{
		width:100%;
		height:115px;
		border-top:1px solid #eee;
		border-bottom: 1px solid #eee;
		position: relative;
	}
	.body_scan>div{
		position: absolute;
	}
	.body_scan_l{
		width:98px;
		height:98px;
		left:89px;
		top:10px;
		background: url(../images/pc_img/erweima.png) no-repeat;
	}
	.body_scan_m{
		width:128px;
		height:20px;
		color:#666;
		left:194px;
		top:40px;
	}
	.body_scan_r_t{
		position: absolute;
		width:165px;
		height:19px;
		top:25px;
		left:403px;
		font-size: 18px;
		color: #333;
	}
	.body_scan_r_b{
		position: absolute;
		width:577px;
		height:15px;
		top:55px;
		left:403px;
		color:#666;
		font-size:14px;
	}

	.bottom_web{
		width:100%;
		height:160px;
		border-bottom: 1px solid #eee;
	}
	.bottom{
		width:930px;
		height:128px;
		margin:15px auto;
	}
	.web{
		/*width:80px;*/
		height:18px;
		text-align: left;
		padding-left:8px;
		/*margin-left:36px;*/
		font-size: 18px;
		line-height: 18px;
		border-left:3px solid #ff9827;
		margin-bottom: 10px;
	}
	.webLink{
		width:930px;
		height:110px;
		/*border:1px solid red;*/
	}
	.webLink>a{
		display: inline-block;
		width:120px;
		height:40px;
		padding-right:10px;
		border:1px solid #dddddd;
		border-radius:3px;
		font-size:18px;
		line-height: 40px;
		text-align: right;
		color:#333333;
		background-position:10px;
		margin-right:18px;
		margin-bottom: 15px;
	}
	.webLink>a:hover{
		border:1px solid #ff8809;
		box-shadow: 0 3px 2px rgba(255,134,21,0.26);
	}

	.sina{
		background:url(../images/pc_img/weibo.png) no-repeat;	
	}
	.tengxun{
		background:url(../images/pc_img/tengxun.png) no-repeat;
	}
	.taobao{
		background:url(../images/pc_img/taobao.png) no-repeat;
		background-position: 10px 10px !important;
	}
	.caifut{
		background:url(../images/pc_img/caifutong.png) no-repeat;
	}
	.wx{
		background:url(../images/pc_img/weixinzhifu.png) no-repeat;
		background-position: 10px 0px !important;
	}
	.circle{
		background:url(../images/pc_img/huanqiu.png) no-repeat;
	}
	.baidu{
		background:url(../images/pc_img/baidu.png) no-repeat;
	}
	.cctv{
		background:url(../images/pc_img/cctv.png) no-repeat;
	}
	.fenghuang{
		background:url(../images/pc_img/fenghuang.png) no-repeat;
	}
	.souhu{
		background:url(../images/pc_img/souhu.png) no-repeat;
	}
	.toutiao{
		background:url(../images/pc_img/toutiao.png) no-repeat;
	}
	.renmin{
		background:url(../images/pc_img/renminwang.png) no-repeat;
		background-position: 20px 8px !important;
	}

	.gongshang{
		background:url(../images/pc_img/gongshang.png) no-repeat;
	}
	.zhongguo{
		background:url(../images/pc_img/zhongguoyinhang.png) no-repeat;
	}
	.jianshe{
		background:url(../images/pc_img/jianshe.png) no-repeat;
	}
	.nongye{
		background:url(../images/pc_img/nongye.png) no-repeat;
	}
	.zhaoshang{
		background:url(../images/pc_img/zhaoshang.png) no-repeat;
	}
	.zhongxin{
		background:url(../images/pc_img/zhongxin.png) no-repeat;
	}
	.jiaotong{
		background:url(../images/pc_img/jiaotong.png) no-repeat;
	}
	.minsheng{
		background:url(../images/pc_img/minsheng.png) no-repeat;
	}
	.guangfa{
		background:url(../images/pc_img/guangfa.png) no-repeat;
	}
	.pufa{
		background:url(../images/pc_img/pufa.png) no-repeat;
	}
	.huaxia{
		background:url(../images/pc_img/huaxia.png) no-repeat;
	}
	.xingye{
		background:url(../images/pc_img/xingye.png) no-repeat;
	}	
	/*动画*/
	.test_middle>div{

	}
	.download{
		width:420px;
		height:110px;
		/*border:2px solid red;*/
		/*margin:0 auto;*/
		position: absolute;
		left:35%;
		top:20px;
	}
	.download a{
		display: inline-block;
		width:165px;
	    height: 50px;
	    background-size: 24px 30px;
	    background-position: 6px 7px;
	    font-size: 18px;
	    color: rgb(255,152,52);
	    line-height: 50px;
	    text-align: center;
	    padding-left: 15px;
	    border: 1px solid rgb(255,152,52);
	    border-radius: 5px;
	    cursor: pointer;
	}
	.ios{
		background: url(../images/ios.png) no-repeat;
		background-position: 6px 10px !important;
		margin-right:40px;
	}
	.android{
		background: url(../images/android.png) no-repeat;
		background-position: 6px 10px !important;
		margin-top: 10px;
	}
}



@media (max-width: 900px){
	html,body{
		width:100%;
		/*height:1080px;*/
		/*border:3px solid red;*/
	}
	body{
		background: url(../images/mobile_img/bg.png) no-repeat;
		background-size:100% 100%;
	}
	.head{
		width:84%;
		height:55px;
		margin:0px auto;
		/*border:1px solid red;*/
		position: relative;
	}
	.head>div{
		position: absolute;
	}
	.head_img{
		width:40%;
		height:35px;
		background: url(../images/mobile_img/logo.png) no-repeat;
		left:0;
		top:10px;
	}
	.head_r{
		width:25%;
		height:25px;
		border-radius:18px;
		background:#ccd0ff;
		top:14px;
	}
	.head_r a{
		display: inline-block;
		width:100%;
		height:100%;
		text-align: center;
		line-height:26px;
		color:#333333;
		font-size: 14px;
	}
	.head_collect{
		right:30%;
	}
	.head_chat{
		right:0px;
	}
	/*body*/
	.body{
		width:84%;
		/*height:960px;*/
		/*border:1px solid red;*/
		margin:0 auto;
		background: white;

	}
	.body_head{
		height:24px;
		margin:5px auto;
		text-align: center;
		font-size: 18px;
		color:#333333;
	}
	.body_head2{
		width:90%;
		/*height:15px;*/
		text-align: center;
		line-height: 15px;
		font-size: 14px;
		color:#666;
	}
	.body_lineTest{
		/*width:620px;*/
		width:100%;
		/*height:560px;*/
		/*border:1px solid purple;*/
		margin:0 auto;
	}
	.test{
		width:100%;
		/*width:590px;*/
		height:30px;
		margin:15px auto;
	}
	.test>div{
		/*display: inline-block;*/
		float:left;
		line-height: 30px
	}
	.test_pc{
		width:45px;
		height:100%;
		font-size: 18px;
		/*border:1px solid red;*/
		text-align: center;
	}
	.test_left{
		width:21%;
		height:100%;
		font-size: 14px;
		color:#333;
		margin-right:2px;
		/*line-height: 100%;*/
	}
	.test_middle{
		width:43%;
		height:30px;
		border:1px solid #dddddd;
		border-radius:1px;
		/*margin-top:5px;*/
		/*margin-right:20px;*/
	}
	.test_middle>div{
		width:12px;
		height:12px;
		/*display: inline-block;*/
		float:left;
		/*background: orange;*/
		background: url(../images/gray.png) no-repeat;
		border-radius:50%;
		margin:10px 3px;
	}
	.test_ping{
		width:15%;
		height:30px;
		/*color:#ccc;*/
		color:black;
		font-size: 12px;
		/*border:1px solid cyan;*/
		float: left;
		margin-left:5px;
	}
	.test_right{
		width: 17%;
	    height: 21px;
	    font-size: 12px;
	    border-radius: 3px;
	    background: url(../images/pc_img/button.png) no-repeat;
	    background-size: cover;
	    text-align: center;
	    color: #fff;
	    cursor: pointer;
	    line-height: 22px !important;
	    margin-top: 3px;
	    margin-left: 2px;
	}

	.add_tishi{
		text-align: center;
		color: red;
		font-size: 14px;
	}
	.reTest{
		/*width: 0px;
		height:0px;*/
		width: 50%;
	    height: 30px;
	    border-radius: 20px;
	    margin: 10px auto;
	    background: url(../images/pc_img/retest.png) no-repeat;
	    background-position: center;
	    font-size: 14px;
	    text-align: center;
	    line-height: 30px;
	    color: #fff;
	    cursor: pointer;
	}
	.body_scan{
		width:100%;
		height:120px;
		border-top:1px solid #eee;
		border-bottom: 1px solid #eee;
		position: relative;
	}
	.body_scan>div{
		position: absolute;
	}
	.body_scan_l{
		width: 100%;
	    height: 100%;
	    left: 10%;
	    top: 5px;
	    background: url(../images/pc_img/erweima.png) no-repeat;
	}
	.body_scan_m{
		width:128px;
		height:20px;
		color:#666;
		left:10%;
		top:100px;
		font-size: 14px;
	}
	.body_scan_r_t{
		position: absolute;
		width:165px;
		height:19px;
		top:25px;
		left:403px;
		font-size: 18px;
		color: #333;
	}
	.body_scan_r_b{
		position: absolute;
		width:577px;
		height:15px;
		top:55px;
		left:403px;
		color:#666;
		font-size:14px;
	}

	.bottom_web{
		width:100%;
		/*height:160px;*/
		border-bottom: 1px solid #eee;
	}
	.bottom{
		width:100%;
		/*width:930px;*/
		/*height:128px;*/
		margin:5px auto;
	}
	.web{
		width:80px;
		height:18px;
		text-align: left;
		padding-left:8px;
		/*margin-left:36px;*/
		font-size: 16px;
		line-height: 18px;
		border-left:3px solid #ff9827;
		margin-bottom:5px;
	}
	.webLink{
		width:100%;
		/*height:110px;*/
		/*border:1px solid red;*/
	}
	.webLink>a{
		display: inline-block;
	    width: 28%;
	    height: 30px;
	    padding-right: 0px;
	    border: 1px solid #dddddd;
	    border-radius: 3px;
	    font-size: 14px;
	    line-height: 30px;
	    text-align: right;
	    color: #333333;
	    background-position: 9px;
	    padding-right:5px;
	    margin-right: 0px;
	    margin-bottom: 10px;
	    background-size:20px 20px;
	}
	.webLink>a:hover{
		border:1px solid #ff8809;
		box-shadow: 0 3px 2px rgba(255,134,21,0.26);
	}

	.sina{
		background:url(../images/pc_img/weibo.png) no-repeat;	
	}
	.tengxun{
		background:url(../images/pc_img/tengxun.png) no-repeat;
	}
	.taobao{
		background:url(../images/pc_img/taobao.png) no-repeat;
		background-position: 5px 10px !important;
		background-size: 37px 20px !important;
	}
	.caifut{
		background:url(../images/pc_img/caifutong.png) no-repeat;
		background-position: 5px 5px !important;
		    background-size: 40px 20px !important;
	}
	.wx{
		background:url(../images/pc_img/weixinzhifu.png) no-repeat;
		background-position: 10px 0px !important;
		background-size: 20px 25px !important;
	}
	.circle{
		background:url(../images/pc_img/huanqiu.png) no-repeat;
	}
	.baidu{
		background:url(../images/pc_img/baidu.png) no-repeat;
	}
	.cctv{
		background:url(../images/pc_img/cctv.png) no-repeat;
		background-size: 53px 16px !important;
	}
	.fenghuang{
		background:url(../images/pc_img/fenghuang.png) no-repeat;
	}
	.souhu{
		background:url(../images/pc_img/souhu.png) no-repeat;
	}
	.toutiao{
		background:url(../images/pc_img/toutiao.png) no-repeat;
	}
	.renmin{
		background:url(../images/pc_img/renminwang.png) no-repeat;
		background-position: 20px 8px !important;
	}

	.gongshang{
		background:url(../images/pc_img/gongshang.png) no-repeat;
	}
	.zhongguo{
		background:url(../images/pc_img/zhongguoyinhang.png) no-repeat;
	}
	.jianshe{
		background:url(../images/pc_img/jianshe.png) no-repeat;
	}
	.nongye{
		background:url(../images/pc_img/nongye.png) no-repeat;
	}
	.zhaoshang{
		background:url(../images/pc_img/zhaoshang.png) no-repeat;
	}
	.zhongxin{
		background:url(../images/pc_img/zhongxin.png) no-repeat;
	}
	.jiaotong{
		background:url(../images/pc_img/jiaotong.png) no-repeat;
	}
	.minsheng{
		background:url(../images/pc_img/minsheng.png) no-repeat;
	}
	.guangfa{
		background:url(../images/pc_img/guangfa.png) no-repeat;
	}
	.pufa{
		background:url(../images/pc_img/pufa.png) no-repeat;
	}
	.huaxia{
		background:url(../images/pc_img/huaxia.png) no-repeat;
	}
	.xingye{
		background:url(../images/pc_img/xingye.png) no-repeat;
	}	
	/*动画*/
	.test_middle>div{

	}
	.download{
		width: 60%;
	    height: 110px;
	    /*border: 2px solid red;*/
	    /* margin: 0 auto; */
	    position: absolute;
	    left: 45%;
	    top: 15px;
	}
	.download a{
		display: inline-block;
	    width: 60%;
	    height: 35px;
	    background-size: 24px 30px;
	    font-size: 14px;
	    background-position: 6px 7px;
	    color: rgb(255,152,52);
	    line-height: 35px;
	    text-align: center;
	    padding-left: 15px;
	    border: 1px solid rgb(255,152,52);
	    border-radius: 5px;
	    cursor: pointer;
	}
	.ios{
		background: url(../images/ios.png) no-repeat;
		background-position:5px 3px !important;
		margin-right:40px;
	}
	.android{
		background: url(../images/android.png) no-repeat;
		background-position: 5px 3px !important;
		margin-top: 10px;
	}

}




.trans>div{
	/*background: red;*/
	background: url(../images/v.png) no-repeat;
}
.trans>div:nth-child(1){
	transition: all .3s linear 0s;
}
.trans>div:nth-child(2){
	transition: all .3s linear 0.5s;
}
.trans>div:nth-child(3){
	transition: all .3s linear 1s;
}
.trans>div:nth-child(4){
	transition: all .3s linear 1.5s;
}
.trans>div:nth-child(5){
	transition: all .3s linear 2s;
}
.trans>div:nth-child(6){
	transition: all .3s linear 2.5s;
}
.trans>div:nth-child(7){
	transition: all .3s linear 3s;
}
.trans>div:nth-child(8){
	transition: all .3s linear 3.5s;
}






